.nav-container {
  background-color: #161C21;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center; /* Center the nav items */
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #5BACDC;
}

.nav-link.active {
  color: #5BACDC;
}
